#logo
{
    height: 60px;
    width: 60px;
}
#img
{
    height: 500px;
    width: 500px; 
}
#media
{
    height: 20px;
    width: 22px;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}

#header, #footer
{
     background-color: rosybrown;
         
  position: sticky;
  top: 0;
}

.customer_details {
    margin: 2%;
  }
  .cost {
    
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
  }

  .hotel-content {
    margin-top: 2%;
    margin-bottom: 2%;
   width: 50%;
   margin-left: 25%;
    background-color: rgb(132,136,139);
  }

      
  position: sticky;
  top: 0;




.contact_us{
 float: left;
 padding: 5px;
}

.contact_us a {
 text-decoration: none;
 color: black;
}

.copy_right
{
 font-size: 10px;
margin: 20px 0 0 0;
}

.footer_us
{
 display: block;
 text-align: center;
 position: fixed;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 20px 0 0 0;
 background-color: rosybrown;
}

.social_media
{
 float: right;
 padding: 5px;
}
.social_media img
{
 height: 20px;
 width: 22px;
}

.login_icon {
 text-decoration: none;
 float: right;
 margin: 20px;
}